Chapter 2/02_04/final/HelloWorldService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://HelloWorld/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://HelloWorld/" name="HelloWorldService">
<types>
<xsd:schema>
<xsd:import namespace="http://HelloWorld/" schemaLocation="http://car-booth-02-pc:8080/HelloWorld/HelloWorldService?xsd=1"/>
</xsd:schema>
</types>
<message name="constructor">
<part name="parameters" element="tns:constructor"/>
</message>
<message name="constructorResponse">
<part name="parameters" element="tns:constructorResponse"/>
</message>
<message name="reportTime">
<part name="parameters" element="tns:reportTime"/>
</message>
<message name="reportTimeResponse">
<part name="parameters" element="tns:reportTimeResponse"/>
</message>
<message name="Hello">
<part name="parameters" element="tns:Hello"/>
</message>
<message name="HelloResponse">
<part name="parameters" element="tns:HelloResponse"/>
</message>
<portType name="newname">
<operation name="constructor">
<input wsam:Action="http://HelloWorld/newname/constructorRequest" message="tns:constructor"/>
<output wsam:Action="http://HelloWorld/newname/constructorResponse" message="tns:constructorResponse"/>
</operation>
<operation name="Hello">
<input wsam:Action="http://HelloWorld/newname/HelloRequest" message="tns:Hello"/>
<output wsam:Action="http://HelloWorld/newname/HelloResponse" message="tns:HelloResponse"/>
</operation>
<operation name="reportTime">
<input wsam:Action="http://HelloWorld/newname/reportTimeRequest" message="tns:reportTime"/>
<output wsam:Action="http://HelloWorld/newname/reportTimeResponse" message="tns:reportTimeResponse"/>
</operation>
</portType>
<binding name="newnamePortBinding" type="tns:newname">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="constructor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HelloWorldService">
<port name="newnamePort" binding="tns:newnamePortBinding">
<soap:address location="http://car-booth-02-pc:8080/HelloWorld/HelloWorldService"/>
</port>
</service>
</definitions>